<mat-list>
    <h3 mat-subheader>Results</h3>
    <mat-list-item *ngFor="let result of results" (click)="openMarkdown(result.path)">
        <mat-icon mat-list-icon>description</mat-icon>
        <h4 mat-line>{{result.title}}</h4>
        <p mat-line>{{result.path}}</p>
    </mat-list-item>
</mat-list>