mat-drawer-container{
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-drawer-container > mat-drawer{
    padding: 16px;
    min-width: 300px;
}

mat-drawer-container main{
    position: relative;
    text-align: justify;
    
    height: 100%;
    padding: 16px;
}