<app-toolbar (click)="drawer.toggle()"></app-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-files-explorer></app-files-explorer>
  </mat-drawer>
  <main>
    <app-document-loader></app-document-loader>
  </main>
</mat-drawer-container>