blockquote{
    border-left: solid 3px black;
    padding-left: 16px;
    margin-left: 16px;
}

code{
    border-radius: 3px;
    padding: 3px 6px;
    background-color: rgba(0,0,255,0.1);
    border: solid 1px rgba(0,0,255,0.2);
}

pre > code{
    display: block;
    padding: 8px;
    margin: 0 16px;
}

hr{
    margin: 32px 0;
}