<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
        </button>
        <span mat-button>MyWiki</span>
    </mat-toolbar-row>
</mat-toolbar>