:host{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    /*background-color: #3f51b5 !important;*/
}

@media print{
    :host{
        display: none;
    }
}