<form (submit)="onSearch()" style="width: 100%">
    <mat-form-field style="width: 100%">
        <input matInput placeholder="Search in files" autocomplete="off" name="search" [(ngModel)]="search">
    </mat-form-field>
</form>

<mat-tab-group #tabs>
    <mat-tab label="Tree">
        <ng-template mat-tab-label>
            <mat-icon>account_tree</mat-icon>
            <span>Tree</span>
        </ng-template>

        <app-files-tree>
        </app-files-tree>
    </mat-tab>
    <mat-tab label="Results">
        <ng-template mat-tab-label>
            <mat-icon>search</mat-icon>
            <span>Results</span>
        </ng-template>

        <app-search-results [results]="results"></app-search-results>
    </mat-tab>
</mat-tab-group>